@media (min-width: 768px) {
  body .about {
    flex-direction: row;
    margin: 0 4em;
  }

  body .about button {
    width: 800px;
  }

  body .about p {
    margin: 2em;
  }
}

.about p {
  margin-top: 2em;
  font-size: 1.5em;
  text-align: center;
  color: #2C2C2C;
  text-shadow: 2px 4px 10px rgba(0, 0, 0, 0.25);
}

.about {
  flex-direction: column;
  align-items: center;
}

.about button {
  text-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
  font-size: 1.25em;
  color: #2c2c2c;
  background-color: #77A6F7;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  margin: 2em;
  padding: 25px 0;
  width: 200px;
}

.about button:hover {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color:  #00887A;
  color:  #FFF9FB;
}