@media (max-width: 768px) {
  body .homeText p {
    font-size: 2.5em;
  }

  body .homeText p:first-child {
    font-size: 1.5em;
    margin-top: 0.5em;
  }

  body .homeText p:nth-child(3){
    margin: 0 2em;
    margin-bottom: 2em;
    font-size: 1em;
  }

  body .icons > * {
    margin-top: 0;
  }
}

.icons > * > div {
  margin: 0 5px;
  font-size: 2em;
  color: #2c2c2c;
  padding: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #77A6F7
}

.icons > * {
  margin-top: 3em;
}

.homeText {
  flex-direction: column;
  margin: 1.0em;
}

.homeText p {
  margin-bottom: 0.5em;
  font-size: 3em;
  text-align: center;
  text-shadow: 2px 4px 10px rgba(0, 0, 0, 0.25);
}

.homeText p:first-child {
  font-size: 2.5em;
  margin-top: 1em;
}

.homeText p:nth-child(2){
  color: rgba(65, 0, 250, 0.69);
  font-weight: 700;
}

.homeText p:nth-child(3){
  margin: 0 4em;
  font-size: 2em;
}