@media (max-width: 768px) {
  body .navContainer {
    position: fixed;
    bottom: 0;
    margin-bottom: 0;
    background-color: transparent;
  }
  
  .navContainer > div{
    background-color: transparent;
    border-radius: 0;
  }  
  
  .navContainer > div > div  {
    display: inline-flex;
    flex-direction: column;
    width: 14em;
    text-align: center;
  }  

  .navContainer > div > div > a:first-child {
    border-top-right-radius: 50px;
    border-bottom-left-radius: 0;
  }

  .navContainer > div > div > a:last-child {
    border-top-right-radius: 0;
    border-bottom-left-radius: 50px;
  }

  .closeIcon {
    color: #2c2c2c;
    font-size: 50px;
    position: absolute;
    right: 1em;
    bottom: 5.5em;
  }

  .menuIcon {
    color: #2c2c2c;
    font-size: 50px;
  }
}

body {
  height: 100vh;
  overflow: hidden;
}


.navbar {
  padding: 15px 20px;
  background-color: #77A6F7;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: 0.5s;
}

.navbar:hover {
  background-color: #00887A;
  color: white
}

.navbar:first-child {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.navbar:last-child {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.navContainer {
  position: fixed;
  bottom: 0;
  margin-bottom: 1em;
}

.navContainer div {
  flex-direction: row;
}