.main-bg {
  background-image: url(images/Header-llustration-desktop.png);
  background-repeat: no-repeat;
  background-size:  1000px 100%;
  background-position: center top;
}

.border-bottom {
  margin: 0 auto;
  width: 20%;
  position: relative;
}

.border-bottom:after {
  content:'';
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  background: #48bb78;
  height:10px;
  border-radius:10px 10px 10px 10px;
}

.image-placeholder {
  background: #EBF0EE;
  border: 1px solid #D0D9D4;
  border-radius: 8px;
  max-width: 340px;
  height: 474px;
}

.image-placeholder-2 {
  background: #EBF0EE;
  border: 1px solid #D0D9D4;
  border-radius: 8px;
  max-width: 340px;
  height: 350px
}

.image-placeholder-2 ul li {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  background-color:#FFFFFF;
  color: #48bb78;
  padding: 12px 12px 12px 12px;
  margin: 5px 0;
}

.info {
  align-items: flex-start;
  padding: 16px 0px 0px 16px;
  height: 222px;
  background: #FFFFFF;
  border-radius: 8px;
  width: 100%;
  color: #3A4A42;
}

.button-gray {
  background-color: #EBF0EE;
  display: inline-block;
}

.about-bg {
  background-image: url(images/illustration_aboutme.png);
  background-repeat: no-repeat;
  background-position: center top;
}

.form input {
  margin: 10px 0;
  height: 50px;
  border-radius: 8px;
  border: 1px solid #D0D9D4;
  box-sizing: border-box;
  text-indent: 10px;
}

.form input:nth-child(3) {
  height: 115px;
}

/* The Modal (background) */
.project_modal {
  display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  padding: 1em;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  border-radius: 16px;
  background-color: #fefefe;
  border: 1px solid #888;
}

.modal-content img {
  padding: 1em;
  width: 400px;
  height: 300px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}