.main-bg {
  background-image: url(images/Header-llustration-desktop.png);
  background-repeat: no-repeat;
  background-size: 1000px 100%;
  background-position: center top;
}

nav div ul li {
  padding: 5px 0;
}

.bg-green {
  background-color: #195d3e;
}

.text-green {
  color: #195d3e;
}

.border-bottom {
  margin: 0 auto;
  width: 20%;
  position: relative;
}

.border-bottom::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #195d3e;
  height: 10px;
  border-radius: 10px 10px 10px 10px;
}

.image-placeholder {
  background: #ebf0ee;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  max-width: 840px;
}

.image-placeholder img {
  min-width: 304px;
  min-height: 209px;
  max-width: 608px;
  max-height: 418px;
  margin: 0 auto;
  padding: 1em;
}

.image-placeholder-2 {
  background: #ebf0ee;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  max-width: 340px;
  height: 350px;
}

.image-placeholder-2 ul li {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  background-color: #fff;
  color: #195d3e;
  padding: 0.8em;
  margin: 5px 4px;
}

.info {
  align-items: flex-start;
  padding: 16px 16px 16px 16px;
  height: 222px;
  background: #fff;
  border-radius: 8px;
  width: 100%;
  color: #3a4a42;
}

.button-gray {
  background-color: #ebf0ee;
  display: inline-block;
}

.about-bg {
  background-image: url(images/illustration_aboutme.png);
  background-repeat: no-repeat;
  background-position: center top;
}

.form label {
  display: flex;
}

.form input,
.form textarea {
  border: 1px solid #d0d9d4;
  margin: 1em 0;
  height: 50px;
  border-radius: 8px;
  box-sizing: border-box;
  text-indent: 10px;
  width: 100%;
}

.form textarea {
  height: 100px;
}

/* The Modal (background) */
.project_modal {
  display: none;
  position: fixed; /* Stay in place */
  left: 0;
  top: 0;
  padding: 1em;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  border-radius: 16px;
  background-color: #fefefe;
  border: 1px solid #888;
  height: 100%;
  overflow-y: scroll;
}

.modal-content img {
  padding: 1em;
  width: 400px;
  height: 300px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 610px) {
  .image-placeholder {
    max-width: 340px;
  }

  .image-placeholder img {
    max-width: 270px;
    height: 270px;
    margin: 0 auto;
    padding: 1em;
  }
}

@media (min-width: 450px) {
  .main-bg {
    background-image: url(images/Header-llustration-desktop.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center top;
  }

  .body-div {
    padding: 0 2em;
  }

  .about-bg {
    background-image: url(images/illustration_about_me_desktop.png);
    background-repeat: no-repeat;
    background-position: center top;
  }

  .contact-bg {
    background-image: url(/images/illustration-about-me-2-desktop.png);
    background-repeat: no-repeat;
    background-position: center top;
  }

  .form input,
  .form textarea {
    width: 100%;
    margin: 1em auto;
  }

  .modal-content {
    overflow: hidden;
  }
}
